*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --font-family: "Noto Sans", sans-serif;
    --font-default:0.9rem;
    --font-big: 1.2rem;
    --font-head:1.9rem;
    --text-color: #284066;
    --background-color-light: #eff2f4;
    --background-color-white: #fff;
    --background-dark: #1c406a;
}
/*font setting*/
h1, h2, h3, h4, p, a{
    font-family: var(--font-family);
    color: var(--text-color);
}
h4, p, a{
    font-size: var(--font-default);
}
h1,h3{
    font-size: var(--font-head);
}
h2{
    font-size: var(--font-big);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header-menu ul, .header-menu li>a, 
.product-section ul, .sns, .sns ul, .important-info, .important-info ul{
    display: flex;
}
.container{
    margin: 2% 4%;
}

/*header style*/
header{
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 1fr 1fr;
}
.header-menu li img {
    margin: 0 1rem 0 2rem;
}

/*main style*/
main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
}
.filter-section{
    border: solid 1px #284066;
    border-radius: 0.5rem;
    text-align: center;
}
h2{
    margin-top: 3vh;
}
.product-section h1{
    text-align: center;
    margin: 4rem 0;
}
.product-section ul{
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding: 1rem 0;
}
.product-section li, .important-info li{
    border-right: 1px solid var(--text-color);
    padding: 0 2rem;
}
.page-nav{
    margin: 3rem 0;
}
/*gallery*/
.img-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*footer*/
footer{
    background-color: #eff2f4;
    padding-top: 5rem;
}
.sns{
    width: max-content;
    text-align: center;
    justify-self: center;
    padding: 4% 8%;
    border: solid 1px var(--text-color);
    border-radius: 0.5rem;
    background-color: var(--background-color-white);
}
.sns li{
    margin-left: 1.6rem;
}

.footer-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vw;
    margin: 8% 0;
}
.footer-menu h4{
    background-color: var(--background-color-white);
    padding: 0.5rem;
    margin: 1rem 0;
}
.footer-menu p::before{
    content: "▶";
    font-size: xx-small;
    margin: 0 0.5rem;
}
.important-info{
    justify-content: space-between;
    align-items: center;
    
}
.copyright p{
    font-size: x-small;
    text-align: center;
    background-color: var(--background-dark);
    color: var(--background-color-white);
    padding: 1.5rem 0;
}