*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --font-family: "Noto Sans", sans-serif;
    --font-default:0.9rem;
    --font-big: 1.2rem;
    --font-head:1.9rem;
    --text-color: #284066;
    --background-color-light: #eff2f4;
    --background-color-white: #fff;
    --background-dark: #1c406a;
    --btn-color: #fa7283;
}
/*font setting*/
h1, h2, h3, h4, p, a{
    font-family: var(--font-family);
    color: var(--text-color);
}
h4, p, a{
    font-size: var(--font-default);
}
h1,h3{
    font-size: var(--font-head);
}
h2{
    font-size: var(--font-big);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header-menu ul, .header-menu li>a, 
.product-section ul, .sns, .sns ul, .important-info, .important-info ul{
    display: flex;
}
.container{
    margin: 2% 4%;
}

/*header style*/
header{
    display: grid;
    align-items: center;
    grid-template-columns: 1.2fr 1fr 1fr;
}
.header-menu li img {
    margin: 0 1rem 0 2rem;
}
/*cart-menu style*/
.cart-menu{
    text-align: center;
    position: fixed;
    padding: 1%;
    right: 0;
    top: 18%;
    width: 30%;
    background-color: var(--background-color-white);
    border: 5px solid #e9eff7;
}
.cart-menu.hidden{
    display: none;
}
.cart-menu img{
    width: 25%;
    aspect-ratio: 1/1.1;
}
.each-item{
    display: flex;
    margin: 3%;
}
#checkout-btn{
    background-color: var(--btn-color);
    color: var(--background-color-white);
    padding: 2%;
    border-radius: 4%;
}

/*main style*/
.main-section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
}
.filter-section{
    border: solid 1px #284066;
    border-radius: 0.5rem;
    text-align: center;
}
h2{
    margin-top: 3vh;
}

.product-section h1{
    text-align: center;
    margin: 4rem 0;
}
.product-section ul{
    border-top: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    padding: 1rem 0;
}
.product-section li, .important-info li{
    border-right: 1px solid var(--text-color);
    padding: 0 2rem;
}
.page-nav{
    margin: 3rem 0;
}
/*gallery*/
.img-gallery{
    margin: 10% 0 25%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
}
.img-gallery img{
    width: 100%;
}

/*go to page-top*/
.top-page{
    position: fixed;
    bottom: 3%;
    right: 0;
}
.top-page img{
    width: 60%;
}

/*product-page style*/
.main-product{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
}
#desc h2{
    margin: 50px 0 20px;
    text-align: center;
}
/*review section style*/
#review-sec{
    margin: 50px 0;
    text-align: center;
}
#star-rating span{
    font-size: 30px;
    cursor: pointer;
    color: lightgray;
}
#star-rating .selected{
    color: gold;
}

/*cart-page style*/
#orrder-completed.hidden{
    display: none;
}
#orrder-completed{
    background-color: var(--background-color-white);
    height: 80vh;
    width: 80vw;
    position: fixed;
    top: 15%;
    left: 10%;
    border: var(--text-color) solid 3px;
    border-radius: 10px;
}
#orrder-completed div{
    display: grid;
    gap: 50px;
    height: 100%;
    text-align: center;
    align-content: center;
}
#buy-btn{
    width: 90vw;
    height: 40px;
    background-color: var(--btn-color);
    color: var(--background-color-white);
    border: none;
    border-radius: 5px;
    margin-bottom: 50px;
}
#cal{
    background-color: var(--background-color-white);
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
}
.back-to-top{
    justify-self: center;
    width: max-content;
    background-color: var(--btn-color);
    color: var(--background-color-white);
    padding: 10px 20px;
    border-radius: 5px;
}
/*footer*/
footer{
    background-color: #eff2f4;
    padding-top: 5rem;
}
.sns{
    width: max-content;
    text-align: center;
    justify-self: center;
    padding: 4% 8%;
    border: solid 1px var(--text-color);
    border-radius: 0.5rem;
    background-color: var(--background-color-white);
}
.sns li{
    margin-left: 1.6rem;
}

.footer-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3vw;
    margin: 8% 0;
}
.footer-menu h4{
    background-color: var(--background-color-white);
    padding: 0.5rem;
    margin: 1rem 0;
}
.footer-menu p::before{
    content: "▶";
    font-size: xx-small;
    margin: 0 0.5rem;
}
.important-info{
    justify-content: space-between;
    align-items: center;
    
}
.copyright p{
    font-size: x-small;
    text-align: center;
    background-color: var(--background-dark);
    color: var(--background-color-white);
    padding: 1.5rem 0;
}